.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  color: white;
  height: 100px;
  justify-content: space-around;
}

.score-card > * {
  text-align: end;
  padding: 2.5px;
}

main {
  background: #282c34ef;
}

.intro {
  color: white;
  text-align: center;
  padding: 20px;
  background: #727c8f;
  flex-basis: 100%;
}
